body {
  margin: 0;
  background-image: url(../images/chess-board-background.webp);
  background-size: cover;
  background-color: #383838;
  overflow: hidden;
  font-family: Arial;
}

.btn {
  margin-top: 20px;
  padding: 8px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-white {}

.img-fluid {
  width: auto;
  height: 75%;
  /* padding: 3rem; */
}

.boardContainer.notActive {
  display: none;
}

.boardContainer {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  margin-top: 40px;
  height: 100vh;
  width: 100%;
}

.sideBoard {
  display: flex;
  /* width: 20%; */
  flex-wrap: wrap;
}

.sideBoard p {
  color: #fff;
  width: 100%;
  margin-top: 0;
  padding: 16px;
  font-weight: bold;
}

.rightBoard {
  justify-content: end;
}

.rightBoard p {
  text-align: right;
}

.sideBoard .row {
  flex-direction: column;
  height: fit-content;
}

.sideBoard .row .column {
  width: 100%;
}

.mainBoard {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.bg-selected,
.hasPiecs {
  cursor: pointer;
}

.column {
  border: 1px solid #ccc;
  width: 12.24%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 93px;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.bg-selected {
  background-color: #f00;
  color: #fff;
}
.howWin{}